# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=SPECTRESECURITY Core
Comment=SPECTRESECURITY Core QT main network
GenericName=SPECTRESECURITY Digital Currency QT client main network
Exec=spectresecurity-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/spectresecurity.png
MimeType=x-scheme-handler/spectresecurity;
Categories=X-Office;X-Finance;
Keywords=internet;spectresecurity;zssmn;ssmn;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
